{% load zhidewen_tags %}
<div class="span3">
    <!--这里是侧边栏-->
    <dl class="zdw-panel zdw-width100p">
        <dt>
        <h1 class="zdw-icon zdw-icon-wand">值得问状态</h1>
        </dt>
        <dd>
            <ul class="zdw-icon-ul">
                <li class="zdw-icon zdw-icon-ok zdw-text-color-438a20">已回答：{% answered_count %}</li>
                <li class="zdw-icon zdw-icon-questionbtn zdw-text-color-438a20">未回答：{% unanswered_count %}</li>
            </ul>
        </dd>
    </dl>

    <dl class="zdw-panel zdw-width100p">
        <dt>
        <h1 class="zdw-icon zdw-icon-tag">相关标签</h1>
        </dt>
        <dd>
            <ul class="zdw-taglist-ul">
                {% for t in questions.related_tags %}
                    <li><a href="{% url 'tag' t.name %}">{{ t.name }}</a>
                        <bdi>({{ t.used_count }})</bdi>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>