<div class="span3">
    <!--这里是侧边栏-->
    <dl class="zdw-panel zdw-width100p">
        <dt>
        <h1 class="zdw-icon zdw-icon-wand">值得问状态</h1>
        </dt>
        <dd>
            <ul class="zdw-icon-ul">
                <li class="zdw-icon zdw-icon-ok zdw-text-color-438a20">已回答：{{ answered_count }}</li>
                <li class="zdw-icon zdw-icon-questionbtn zdw-text-color-438a20">未回答：{{ unanswered_count }}</li>
            </ul>
        </dd>
    </dl>

    <dl class="zdw-panel zdw-width100p">
        <dt>
        <h1 class="zdw-icon zdw-icon-tag">相关标签</h1>
        </dt>
        <dd>
            <ul class="zdw-taglist-ul">
                <li><a href="#">C#</a>
                    <bdi>(58711)</bdi>
                </li>
                <li><a href="#">java</a>
                    <bdi>(6787)</bdi>
                </li>
                <li><a href="#">php</a>
                    <bdi>(43)</bdi>
                </li>
                <li><a href="#">asp</a>
                    <bdi>(43245667)</bdi>
                </li>
                <li><a href="#">asp.net</a>
                    <bdi>(2543)</bdi>
                </li>
                <li><a href="#">photoshop</a>
                    <bdi>(58711)</bdi>
                </li>
            </ul>
        </dd>
    </dl>
</div>