{% extends 'base.html' %}
{% load zhidewen_tags %}

{% block content-body %}

<dl class="zdw-tabpanel">

    <dt>
    <h1 class="zdw-icon zdw-icon-ask">共有{{ unanswered_count }}未回答</h1>
    <ul class="zdw-tabpanel-tabs">
        <li><a href="{% url 'newest_questions' %}">最新</a></li>
        <li><a href="{% url 'hottest_questions' %}">最热</a></li>
        <li><a href="{% url 'unanswered_questions' %}">未回答</a></li>
    </ul>
    </dt>

    <dd>
        <ul class="zdw-asklist-ul">
            {% include 'includes/questions.html' %}
        </ul>

        {% bootstrap_paginate page %}

    </dd>
</dl>

{% endblock %}


{% block panel %}
    {% include 'includes/panel.html' %}
{% endblock %}