{% extends 'base.html' %}
{% load zhidewen_tags %}

{% block content-body %}

{% url 'newest_questions' as newest %}
{% url 'hottest_questions' as hottest %}
{% url 'unanswered_questions' as unanswered %}


<dl class="zdw-tabpanel">

    <dt>
    <h1 class="zdw-icon zdw-icon-ask">共有{{ unanswered_count }}未回答</h1>
    <ul class="zdw-tabpanel-tabs">
        <li class="{% active request newest %}"><a href="{{ newest }}">最新</a></li>
        <li class="{% active request hottest %}"><a href="{{ hottest }}">最热</a></li>
        <li class="{% active request unanswered %}"><a href="{{ unanswered }}">未回答</a></li>
    </ul>
    </dt>

    <dd>
        <ul class="zdw-asklist-ul">
            {% include 'includes/questions.html' %}
        </ul>

        {% bootstrap_paginate page %}

    </dd>
</dl>

{% endblock %}


{% block panel %}
    {% include 'includes/panel.html' %}
{% endblock %}