<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<title>值得问-</title>
	
	<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css"  href="../static/css/style.css">
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/bootstrap.js"></script>
	<script>
		$(document).ready(function(){
			$('.pagination').find('li').click(function(){
			    $(this).parent().find('li').removeClass('active');
			    $(this).addClass('active');
			});
		});
	</script>
</head>
<body>
	<div id="header">
		<div class="top">
			<div class="logo">
				<img src="../static/images/logo.png">
			</div>
			<div class="plugins">plugins</div>
		</div>
		<div class="menu">
			<div class="list">
				<a><i class="home_icon"></i>首页</a>
				<a>所有问题</a>
				<a>标签</a>
			</div>
			<div class="account">您好，欢迎登录  值得问！[<a>登录</a>][<a>立即注册</a>]</div>
		</div>
	</div>
	<div id="content">
		<div class="search_area">
			<span class="search_input">
				<input type="text" name="keyword" autocomplete="off" />
			</span>
			<span class="search_btn"></span>
			<span class="ask_btn"></span>
		</div>
		<div class="main">
			<div class="center">
				<div class="main_tags">
					<span class="total_count"><i></i>共有3个问题</span>
					<a>最新问题</a>
					<a>最热问题</a>
					<a>"0"回答问题</a>
				</div>
				<div class="details">
					<div class="info">
						<div class="number_info">
							<div class="votion_number"><div>0</div>投票</div>
							<div class="answer_number"><div>0</div>回复</div>
							<div class="reading_number"><span>0</span>阅读</div>
						</div>
						<div class="question_info">
							<div>
								<div class="question_title"><a>为什么大部分运动员的身材并不好看？</a></div>
								<div class="question_detail">大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看</div>
							</div>
							<div>
								<div class="question_tags">
									<div class="tag_detail">[<a>运动员</a>,&nbsp;&nbsp;<a>身材</a>,&nbsp;&nbsp;<a>脂肪</a>]</div>
									<div class="time">1分钟前</div>
								</div>
								<div class="question_user">
									
									<div class="user_info">啸月苍狼</div>
									<div class="user_img">
										<img src="../static/images/default.jpg" width="32px" height="32px">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info">
						<div class="number_info">
							<div class="votion_number"><div>0</div>投票</div>
							<div class="answer_number"><div>0</div>回复</div>
							<div class="reading_number"><span>0</span>阅读</div>
						</div>
						<div class="question_info">
							<div>
								<div class="question_title"><a>为什么大部分运动员的身材并不好看？</a></div>
								<div class="question_detail">大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看</div>
							</div>
							<div>
								<div class="question_tags">
									<div class="tag_detail">[<a>运动员</a>,&nbsp;&nbsp;<a>身材</a>,&nbsp;&nbsp;<a>脂肪</a>]</div>
									<div class="time">1分钟前</div>
								</div>
								<div class="question_user">
									
									<div class="user_info">啸月苍狼</div>
									<div class="user_img">
										<img src="../static/images/default.jpg" width="32px" height="32px">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="info">
						<div class="number_info">
							<div class="votion_number"><div>0</div>投票</div>
							<div class="answer_number"><div>0</div>回复</div>
							<div class="reading_number"><span>0</span>阅读</div>
						</div>
						<div class="question_info">
							<div>
								<div class="question_title"><a>为什么大部分运动员的身材并不好看？</a></div>
								<div class="question_detail">大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看大部分运动员的身材没有男模或者其他模特的身材好看</div>
							</div>
							<div>
								<div class="question_tags">
									<div class="tag_detail">[<a>运动员</a>,&nbsp;&nbsp;<a>身材</a>,&nbsp;&nbsp;<a>脂肪</a>]</div>
									<div class="time">1分钟前</div>
								</div>
								<div class="question_user">
									
									<div class="user_info">啸月苍狼</div>
									<div class="user_img">
										<img src="../static/images/default.jpg" width="32px" height="32px">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pagination">
						<ul>
						    <li><a>上一页</a></li>
						    <li><a>1</a></li>
						    <li><a>2</a></li>
						    <li><a>3</a></li>
						    <li><a>4</a></li>
						    <li><a>5</a></li>
						    <li><a>下一页</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="question_status">
					<div class="header">
						<i class="question_icon"></i>问题状态
					</div>
					<div class="question_status_details">
						<div class="finish">
							<i class="question_finish_icon"></i>
							已回答：12345
						</div>
						<div class="unfinish">
							<i class="question_unfinish_icon"></i>
							未回答：123456
						</div>
					</div>
				</div>
				<div class="tags_count">
					<div class="header">
						<i class="tags_icon"></i>相关标签
					</div>
					<div class="tags_count_details">
						<div><span class="name">C++</span>&nbsp;&nbsp;&nbsp;<span class="count">(116)</span></div>
						<div><span class="name">C#</span>&nbsp;&nbsp;&nbsp;<span class="count">(12)</span></div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer_line"></div>
		<div class="footer_info">
			<a>关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>版权所有</a>&nbsp;&nbsp;|&nbsp;&nbsp;版本：V1.0
		</div>
	</div>
</body>
</html>
