<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme-blue.css">
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div id="header" class="zdw-margin-bottom-10px">
  <div class="container">
    <div class="logo">放logo</div>
    <div class="tianqi">放天气</div>
  </div>
  <!--使用bootstrap的导航条-->
  <div class="navbar navbar-static-top">
    <div class="navbar-inner zdw-nav-bg">
      <div class="container">
        <ul class="nav zdw-nav">
          <li><a href="#"><i class="zdw-icon-home"></i>首页</a></li>
          <li><a href="#">所有问题</a></li>
          <li class="active"><a href="#">标签</a></li>
          <li><a href="#">我的收藏</a></li>
          <li><a href="#">用户中心</a></li>
        </ul>
        <div class="zdw-nav-user-info"> 欢迎来到值得问&nbsp;&nbsp;[<a href="#">请登录</a>]&nbsp;&nbsp;[<a href="#">免费注册</a>] </div>
      </div>
    </div>
  </div>
</div>
<!--搜索-->
<div id="search" class="zdw-margin-bottom-10px">
  <div class="container zdw-search-bg">
    <div class="search input">
      <input name="q" type="text" class="zdw-search-input"/>
    </div>
    <div class="zdw-search-searchbtn"><img src="/static/image/search_btn.gif" width="94" height="32" alt="搜索" /></div>
    <div class="zdw-search-questionbtn"><img src="/static/image/question_btn.gif" width="133" height="38" alt="要我提问" /></div>
  </div>
</div>
<div class="container zdw-margin-bottom-10px">
  <div class="zdw-border zdw-padding-5">
    <dl class="zdw-tag-panel pull-left">
      <dt>
        <h1><a href="#">c#</a>
          <bdi>(58711)</bdi>
        </h1>
      </dt>
      <dd>微软推出的一种基于.NET框架的、面向对象的高级编程语言。C#由C语言和C++派生而来，继承了其强大的性能，同时又以.NET框架类库作为基础，拥有类似Visual Basic的快速开发能力。</dd>
    </dl>
    <dl class="zdw-tag-panel pull-left">
      <dt>
        <h1><a href="#">Ajax</a>
          <bdi>(5448711)</bdi>
        </h1>
      </dt>
      <dd>使用Ajax的最大优点，就是能在不更新整个页面的前提下维护数据。这使得Web应用程序更为迅捷地回应用户动作，并避免了在网络上发送那些没有改变的信息。Ajax不需要任何浏览器插件，但需要用户允许js在浏览器上执行。就像DHTML应用程序那样，Ajax应用程序必须在众多不同的浏览器和平台上经过严格的测试。随着Ajax的成熟，一些简化Ajax使用方法的程序库也相继问世。同样，也出现了另一种辅助程序设计的技术，为那些不支持JavaScript的用户提供替代功能。</dd>
    </dl>
    <dl class="zdw-tag-panel pull-left">
      <dt>
        <h1><a href="#">c#</a>
          <bdi>(58711)</bdi>
        </h1>
      </dt>
      <dd>微软推出的一种基于.NET框架的、面向对象的高级编程语言。C#由C语言和C++派生而来，继承了其强大的性能，同时又以.NET框架类库作为基础，拥有类似Visual Basic的快速开发能力。</dd>
    </dl>
    <dl class="zdw-tag-panel pull-left">
      <dt>
        <h1><a href="#">java</a>
          <bdi>(541)</bdi>
        </h1>
      </dt>
      <dd>Java是一种计算机编程语言，拥有跨平台、面向对象、泛型编程的特性，广泛应用于企业级Web应用开发和移动应用开发。</dd>
    </dl>
    <dl class="zdw-tag-panel pull-left">
      <dt>
        <h1><a href="#">c#</a>
          <bdi>(58711)</bdi>
        </h1>
      </dt>
      <dd>微软推出的一种基于.NET框架的、面向对象的高级编程语言。C#由C语言和C++派生而来，继承了其强大的性能，同时又以.NET框架类库作为基础，拥有类似Visual Basic的快速开发能力。</dd>
    </dl>
    <div class="clearfix"></div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">关于我们</a> <span class="divider">|</span></li>
      <li>版权所有：值得问 <span class="divider">|</span></li>
      <li class="active">版本：v 1.0</li>
    </ul>
  </div>
</div>
</body>
</html>
