<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme-blue.css">
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div id="header" class="zdw-margin-bottom-10px">
  <div class="container">
    <div class="logo">放logo</div>
    <div class="tianqi">放天气</div>
  </div>
  <!--使用bootstrap的导航条-->
  <div class="navbar navbar-static-top">
    <div class="navbar-inner zdw-nav-bg">
      <div class="container">
        <ul class="nav zdw-nav">
          <li><a href="#"><i class="zdw-icon-home"></i>首页</a></li>
          <li><a href="#">所有问题</a></li>
          <li><a href="#">标签</a></li>
          <li><a href="#">我的收藏</a></li>
          <li class="active"><a href="#">用户中心</a></li>
        </ul>
        <div class="zdw-nav-user-info"> 欢迎来到值得问&nbsp;&nbsp;[<a href="#">请登录</a>]&nbsp;&nbsp;[<a href="#">免费注册</a>] </div>
      </div>
    </div>
  </div>
</div>
<!--搜索-->
<div id="search" class="zdw-margin-bottom-10px">
  <div class="container zdw-search-bg">
    <div class="search input">
      <input name="q" type="text" class="zdw-search-input"/>
    </div>
    <div class="zdw-search-searchbtn"><img src="/static/image/search_btn.gif" width="94" height="32" alt="搜索" /></div>
    <div class="zdw-search-questionbtn"><img src="/static/image/question_btn.gif" width="133" height="38" alt="要我提问" /></div>
  </div>
</div>
<div class="container zdw-margin-bottom-10px"> 
  <!--使用bootstrap的布局-->
  <div class="container-fluid zdw-padding-0px">
    <div class="row-fluid">
      <div class="span9"> 
        <!--这里是内容页 -->
        <dl class="zdw-tabpanel">
          <dt>
            <h1 class="zdw-icon zdw-icon-comments">共有54744114未回答</h1>
            <ul class="zdw-tabpanel-tabs">
              <li class="active"> <a href="#">我提出的问题</a> </li>
              <li><a href="#">我回答的问题</a></li>
            </ul>
          </dt>
          <dd>
            <ul class="zdw-asklist-ul">
              <!--这里是问题列表开始-->
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!--这里是问题列表结束-->
              
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row-fluid">
                  <ul class="span2 zdw-ask-data">
                    <li class="zdw-ask-data-bgcolor zdw-text-color-70c301">0<br/>
                      投票</li>
                    <li class="zdw-ask-data-bgcolor zdw-text-color-0077cf">0<br/>
                      回答</li>
                    <li class="zdw-ask-data-bottom">0&nbsp;阅读</li>
                  </ul>
                  <div class="span10"> <a href="#" class="zdw-ask-title">为什么大部分运动员的身材并不好看？</a>
                    <p>大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，腰部粗壮的像水桶，看不出人鱼
                      线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这是为什么？本文告诉你。</p>
                    <div class="row-fluid">
                      <div class="span9 zdw-ask-tag">[<a href="#">运动员</a>, <a href="#">身材</a>, <a href="#">脂肪</a>, <a href="#">运动</a>, <a href="#">腹肌</a>]</div>
                      <div class="span3"> 提问&nbsp;&nbsp;前1天
                        <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
                            4565:14 </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <!--分页-->
            <div class="row-fluid">
              <div class="pagination span9">
                <ul>
                  <li><a href="#">上一页</a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">下一页</a></li>
                </ul>
              </div>
              <div class="pagination span3"> 
                <!--ul class="pull-right">
                  <li><a href="#">50</a></li>
                  <li><a href="#">80</a></li>
                  <li><a href="#">120</a></li>                  
                </ul--> 
              </div>
            </div>
          </dd>
        </dl>
      </div>
      <div class="span3"> 
        <!--这里是侧边栏-->
        <dl class="zdw-panel zdw-width100p">
          <dt>
            <h1 class="zdw-icon zdw-icon-userinfo">帐号信息</h1>
          </dt>
          <dd>
            <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">这里是昵称</a></h4>
              </div>
            </div>
            <ul class="zdw-icon-ul">
              <li class="zdw-icon zdw-icon-ok zdw-text-color-438a20">回答问题：585231</li>
              <li class="zdw-icon zdw-icon-questionbtn zdw-text-color-438a20">提出问题：54744114</li>
            </ul>
            <br/>
            <span class="zdw-text-color-438a20">登录帐号：buwawa<br/>
            电子邮箱：weicong@os-easy.com</span>
            [<a href="#">修改用户信息</a>]&nbsp;&nbsp;&nbsp;&nbsp;[<a href="#">修改密码</a>]</dd>
        </dl>
        <dl class="zdw-panel zdw-width100p">
          <dt>
            <h1 class="zdw-icon zdw-icon-tag">与我相关标签</h1>
          </dt>
          <dd>
            <ul class="zdw-taglist-ul">
              <li><a href="#">C#</a>
                <bdi>(58711)</bdi>
              </li>
              <li><a href="#">java</a>
                <bdi>(6787)</bdi>
              </li>
              <li><a href="#">php</a>
                <bdi>(43)</bdi>
              </li>
              <li><a href="#">asp</a>
                <bdi>(43245667)</bdi>
              </li>
              <li><a href="#">asp.net</a>
                <bdi>(2543)</bdi>
              </li>
              <li><a href="#">photoshop</a>
                <bdi>(58711)</bdi>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">关于我们</a> <span class="divider">|</span></li>
      <li>版权所有：值得问 <span class="divider">|</span></li>
      <li class="active">版本：v 1.0</li>
    </ul>
  </div>
</div>
</body>
</html>
