<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="base.css">
		<title>用户中心</title>
	</head>
	<body>
		<header>
			<div class="logo"></div>
			<div class="weather"></div>
		</header>
		<nav>
			<div class="container">
				<ul class="m_list">
					<li><a href="#"><i class="icon icon_home"></i>首页</a></li>
					<li><a href="#">所有问题</a></li>
					<li><a href="#">标签</a></li>
					<li><a href="#">我的收藏</a></li>
					<li class="active"><a href="#">用户中心</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<section class="questions">
				<a href="#" class="invole">参与 XXX 个问题</a>
				<ul class="tabs">
					<li><a href="#">我回答的问题</a></li>
					<li class="active"><a href="#">我提出的问题</a></li>
				</ul>
				<div class="clear:left;"></div>
				<div class="contents">
					<div class="question">
						<div class="vote">
							<p class="up"><strong>0</strong><br/>投票</p>
							<p class="down"><strong>0</strong><br/>回复</p>
							<p class="read">0 阅读</p>
							<img class="arrow"/>
						</div>
						<div class="description">
							<p class="title">为什么大部分运动员的身材都不好看？</p>
							<p class="details">大部分运动员身材都没有男模或者一部分明星那么好看，他们没有大块的胸肌，要不粗壮的像水桶，看不出人鱼线，没有精致的8块腹肌，甚至很多运动员还满肚子脂肪。这时为什么？本文告诉你。</p>
							<p class="tags">
								[<a href="#">运动员</a>，<a href="#">身材</a>，<a href="#">脂肪</a>，<a href="#">运动</a>，<a href="#">腹肌</a>]
							</p>
						</div>
						<div class="user">
							<p class="ask_info">提问 前1分钟</p>
							<p><img/> </p>
						</div>
					</div>
				</div>
				
			</section>
			<section class="info_list"></section>
	</body>
</html>