<div class="win-form zdw-width100p">
  <label for="username">登录帐号：</label>
  <input class="input-block-level" type="text" name="username" placeholder="登录帐号" autocomplete="off"/>
  <label for="password">登录密码：</label>
  <div class="controls">
    <input name="password" class="span3" type="text" placeholder="登录密码">
    <input name="password2" class="span2 pull-right" type="text" placeholder="确认登录密码">
  </div>
  <label for="username">昵称：</label>
  <input class="input-block-level" type="text" name="nickname" placeholder="公开显示的信息" autocomplete="off"/>
  <label for="password">电子邮箱：</label>
  <input class="input-block-level" type="email" name="email" placeholder="" autocomplete="off"/>
  <a href="#" class="btn btn-link">已有帐号直接登录!</a> </div>
<div class="modal-footer"> <a href="#" class="btn btn-success">提交信息</a> </div>
