{% extends 'base.html' %}
{% load zhidewen_tags %}

{% block content-body %}
<dl class="zdw-tabpanel">
  <dt>
    <h1 class="zdw-icon zdw-icon-comments">共有54744114未回答</h1>
    <ul class="zdw-tabpanel-tabs">
      <li class="active"> <a href="#">我提出的问题</a> </li>
      <li><a href="#">我回答的问题</a></li>
    </ul>
  </dt>
  <dd>
    <ul class="zdw-asklist-ul">
      {% include 'includes/questions.html' with questions=the_user.questions.all %}
    </ul>
    {% bootstrap_paginate page %}
  </dd>
</dl>
{% endblock %}

{% block panel %}
<div class="span3">
<!--这里是侧边栏-->
<dl class="zdw-panel zdw-width100p">
  <dt>
    <h1 class="zdw-icon zdw-icon-userinfo">帐号信息</h1>
  </dt>
  <dd>
    <div class="media"> <a class="pull-left" href="#"> <img class="media-object" data-src="holder.js/32x32" alt="32x32" style="width: 32px; height: 32px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABN0lEQVR4Xu2YQQ6EIAxFdeXFODZnYu9qJk5C0sGiUiAx8FyKVPr76VPWEMJnmfhaEQAHsAXoARP3wIUmCAWgABSAAlBgYgXAIBgEg2AQDE4MAX6GwCAYBINgEAyCwYkVAIO1GPTe//nHOXfyU3xGG9PM1yNmzuRVDpCJ5ZKUyTwRoEfMqx3eTIBcJbdtW/Z9/w2XCtAqZncB5Atkkkc1NQFileVYFCi1fypcLqa1jzd1QM6+2va4EycKWRLTIkI3AY7FPKmmVmF5LxXvLmapCF0FiItp5QCZXClZulBAq/IVBtN9rvUAa8zSysfnqxxgfemb5iFA7Zfgm6ppWQsOwAEciXEkxpGYpXuOMgcKQAEoAAWgwCgd3ZIHFIACUAAKQAFL9xxlDhSAAlAACkCBUTq6JY/pKfAFwO6XkLwNdToAAAAASUVORK5CYII="> </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="#">{{ the_user.profile.nickname }}</a></h4>
      </div>
    </div>
    <ul class="zdw-icon-ul">
      <li class="zdw-icon zdw-icon-ok zdw-text-color-438a20">回答问题：{{ the_user.answer_count }}</li>
      <li class="zdw-icon zdw-icon-questionbtn zdw-text-color-438a20">提出问题：{{ the_user.question_count }}</li>
    </ul>
    <br/>
    <span class="zdw-text-color-438a20">登录帐号：{{ the_user.username }}<br/>
    电子邮箱：{{ the_user.email }}</span><br/>
    [<a href="#">修改用户信息</a>]&nbsp;&nbsp;&nbsp;&nbsp;[<a href="#">修改密码</a>]</dd>
</dl>

<dl class="zdw-panel zdw-width100p">
  <dt>
    <h1 class="zdw-icon zdw-icon-tag">与我相关标签</h1>
  </dt>
  <dd>
    <ul class="zdw-taglist-ul">
      <li><a href="#">C#</a>
        <bdi>(58711)</bdi>
      </li>
      <li><a href="#">java</a>
        <bdi>(6787)</bdi>
      </li>
      <li><a href="#">php</a>
        <bdi>(43)</bdi>
      </li>
      <li><a href="#">asp</a>
        <bdi>(43245667)</bdi>
      </li>
      <li><a href="#">asp.net</a>
        <bdi>(2543)</bdi>
      </li>
      <li><a href="#">photoshop</a>
        <bdi>(58711)</bdi>
      </li>
    </ul>
  </dd>
</dl>
</div>

{% endblock %}